* { 
  stroke: #C5AB8E;
  font-family: "Dialog.plain";
  font-weight: normal;
  font-fill: #777;
  font-style: normal; 
  label-anchor: 0.5 0;
  label-offset: 0 5;
  -gt-label-max-displacement: 600;
  -gt-label-repeat: 600;
}

[@scale > 200001] {
  stroke-opacity: 0;
  fill-opacity: 0;
}

[@scale < 200001] [@scale > 1] {
  stroke-width: 0.1;
  stroke-opacity: 0.1;
  font-size: 12;
  label: [name_2];
  label-geometry: [centroid(geom)];
}